TIMEZONE=Europe/Moscow
SECRET_KEY=02b69f5b9af44262e2f0128a7e88d1f85719a6d299efb7528517c9f26c1f452a
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE=1800
REFRESH_TOKEN_EXPIRE=604800
REFRESH_TOKEN_KEY=refresh_token_key

TITLE="API Documentation"
DESCRIPTION="Webtronics question"
VERSION=1.0.0

DATABASE_URI=postgresql+asyncpg://postgres:postgres@localhost/webtronics
PASSWORD_SECRET_SALT=c3bc22e35913eceb003fbec8e07c45d981872e15cccbdf7e9b44d6c424f53177

FASTAPI_PORT=8888
